@use "../abstracts/var" as *;
// RWD var
@mixin xl() {
  @media screen and (max-width: $media-xl) {
    @content;
  }
}
@mixin lg() {
  @media screen and (max-width: $media-lg) {
    @content;
  }
}
@mixin md() {
  @media screen and (max-width: $media-md) {
    @content;
  }
}
@mixin sm() {
  @media screen and (max-width: $media-sm) {
    @content;
  }
}
@mixin xs() {
  @media screen and (max-width: $media-xs) {
    @content;
  }
}

// object flex center
@mixin center{
  display: flex;
  align-items: center;
  justify-content: center;
}
