// RWD media
$media-xl: 1200px;
$media-lg: 992px;
$media-md: 768px;
$media-sm: 576px;
$media-xs: 480px;

//colors
$colors: (
  green-01: #f5f8f6,
  green-02: #98b0a7,
  green-03: #5d7c71,
  green-04: #364741,
  green-05: #202825,
  black: #000,
  white: #fff,
  text: #161d1b,
  text-light: #dfe8e4,
  green-01-1: #bfd0c9,
  dialogCover: rgb(0, 0, 0, 0.5),
  shadow: #313e3a,
  btnActive: #506d63,
  btnHover: #67897d,
  gray-01: #d3dad8,
  float-bgc: rgba(211, 218, 216, 0.6),
  text-gray: #b1b6b4,
  darkMode: #455c54,
  opacity: rgba(177, 182, 180, 0.5),
);

//z-index
$z-index: (
  header: 1900,
  footer: 1000,
  dialog: 2000,
  option: 1100,
  float: 1200,
);

// // input size
$input-sizes: (
  small: (
    // font-size: 14px,
    padding: 5px 8px,
    icon-size: 12px,
  ),
  default: (
    // font-size: 16px,
    padding: 8px 12px,
    icon-size: 16px,
  ),
);

// border-radius
$borderRadius: (
  dialog: 36px,
  btn: 20px,
  input: 16px,
  block: 12px,
  circle: 50%,
);
