html {
  font-size: 10px;
  @include xl {
    font-size: 9px;
  }
  @include lg {
    font-size: 7.5px;
  }
  @include md {
    font-size: 7px;
  }
  @include sm {
    font-size: 6px;
  }
  @include xs {
    font-size: 5px;
  }

  body {
    background-color: color(green-03);
    font-family: "Noto Sans TC", serif;
    color: color(text-light);
    font-size: 1.6rem;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: 500;
      line-height: 1.6;
    }

    h1 {
      font-size: 6rem;
    }
    h2 {
      font-size: 4rem;
    }
    h3 {
      font-size: 3.2rem;
    }
    h4 {
      font-size: 2.4rem;
    }
    h5 {
      font-size: 1.8rem;
    }
    h6 {
      font-size: 1.6rem;
    }

    a {
      display: block;
      text-decoration: none;
      font-weight: bold;
      color: color(text);
    }
  }
}
