// RWD media
$media-xl: 1200px;
$media-lg: 992px;
$media-md: 768px;
$media-sm: 576px;
$media-xs: 480px;

//colors
$colors: (
  green-01: #f5f8f6,
  green-02: #98b0a7,
  green-03: #5d7c71,
  green-04: #2b3632,
  black: #000,
  white: #fff,
  text: #161d1b,
  text-light: #dfe8e4,
  green-01-1: #bfd0c9,
);
